body{
    background-image: linear-gradient(thistle, indianred, thistle);
    background-repeat: repeat;
    height: fit-content;
    font-family: cursive;
    margin-left: 20px;
    margin-right: 25px;
    border-style: dotted dashed solid double;
    border-width: 20px;
    border-radius: 15px;
}
a img{
    width: 60px; 
    height: 60px;
    margin: 100px;
}
a :link{
    color:midnightblue;
}
a :hover{
    color:darkslateblue;
}
#welcome{
    text-align: center;
}

