body{
    background-image: linear-gradient(rgba(156, 195, 231, 0.735), rgba(234, 136, 136, 0.491));
    height: 100%;
    background-repeat: repeat;
    height: fit-content;
    font-family: cursive;
    margin-left: 20px;
    margin-right: 25px;
    border-style: dotted dashed solid double;
    border-width: 20px;
    border-radius: 15px;
}
html{
    background-image: linear-gradient(thistle, indianred, thistle);
    height: 100%;
}
img{
    width: 60px; 
    height: 60px;
    margin: 100px;
    max-width:100%;
    height:auto;
}
@media screen and (max-width: 800px){
    .img{
        width: 400px;
        height: 4s00px;
    }
    
}
a :link{
    color:midnightblue;
}
a :hover{
    color:darkslateblue;
}
#welcome{
    text-align: center;
    color: #333;
}
.projects{
    font-size: 23px;
    text-align: right;
}
.img{
    color: none;
    background-color: none;
}
.img img :hover{  
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    border: 5px solid #555;
}
.aboutMe{
    text-align: right;
}